// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #D60951;
  font-size: 50px;
  text-align: center;
}
h3 {
  color: #D60951;
  font-size: 35px;
  text-align: center;
}
p {
  color: #D60951;
  font-size: 30px;
  text-align: center;
}
a {
  color: #D60951;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}
a.hover {
  color: #E65F8F;
  text-decoration: none;
}
input {
  text-align: center;
}
